<?xml version="1.0"?>
<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <parameters>
        <parameter key="hwi_oauth.registration.form.factory.class">FOS\UserBundle\Form\Factory\FormFactory</parameter>
        <parameter key="hwi_oauth.registration.form.handler.fosub_bridge.class">Vanio\UserBundle\Form\SocialRegistrationFormHandler</parameter>
        <parameter key="hwi_oauth.user.provider.fosub_bridge.class">Vanio\UserBundle\Security\FosubUserProvider</parameter>
        <parameter key="vanio_user.security.authentication_entry_point.class">Vanio\UserBundle\Security\AuthenticationEntryPoint</parameter>
        <parameter key="vanio_user.security.authentication_failure_handler.class">Vanio\UserBundle\Security\AuthenticationFailureHandler</parameter>
        <parameter key="vanio_user.security.authentication_success_handler.class">Vanio\UserBundle\Security\AuthenticationSuccessHandler</parameter>
        <parameter key="vanio_user.security.email_change_confirmation_listener.class">Vanio\UserBundle\Security\EmailChangeConfirmationListener</parameter>
        <parameter key="vanio_user.security.email_confirmation_listener.class">Vanio\UserBundle\Security\EmailConfirmationListener</parameter>
        <parameter key="vanio_user.security.redirect_on_registration_success.class">Vanio\UserBundle\Security\RedirectOnRegistrationSuccess</parameter>
        <parameter key="vanio_user.security.target_path_resolver.class">Vanio\UserBundle\Security\TargetPathResolver</parameter>
        <parameter key="vanio_user.form.registration_form_type.class">Vanio\UserBundle\Form\RegistrationFormType</parameter>
        <parameter key="vanio_user.form.profile_form_type.class">Vanio\UserBundle\Form\ProfileFormType</parameter>
        <parameter key="vanio_user.routing.router.class">Vanio\UserBundle\Routing\Router</parameter>
        <parameter key="vanio_user.templating.user_extension.class">Vanio\UserBundle\Templating\UserExtension</parameter>
        <parameter key="vanio_user.mailer.twig_swift.class">Vanio\UserBundle\Mailer\TwigSwiftMailer</parameter>
        <parameter key="vanio_user.validator.user_password_validator.class">Vanio\UserBundle\Validator\UserPasswordValidator</parameter>
    </parameters>

    <services>
        <service id="hwi_oauth.registration.form.factory" class="%hwi_oauth.registration.form.factory.class%">
            <argument type="service" id="form.factory"/>
            <argument>%vanio_user.social_registration_form.name%</argument>
            <argument>%vanio_user.social_registration_form.type%</argument>
            <argument>%vanio_user.social_registration_form.validation_groups%</argument>
        </service>

        <service id="vanio_user.security.authentication_entry_point" class="%vanio_user.security.authentication_entry_point.class%" abstract="true" public="false">
            <argument type="service" id="vanio_user.security.authentication_entry_point.inner"/>
            <argument type="service" id="vanio_user.security.target_path_resolver"/>
            <argument>%vanio_user%</argument>
        </service>

        <service id="vanio_user.security.email_change_confirmation_listener" class="%vanio_user.security.email_change_confirmation_listener.class%" abstract="true">
            <argument type="service" id="fos_user.util.token_generator"/>
            <argument type="service" id="fos_user.mailer"/>
            <argument type="service" id="session"/>
        </service>

        <service id="vanio_user.security.email_confirmation_listener" class="%vanio_user.security.email_confirmation_listener.class%">
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="vanio_user.security.redirect_on_registration_success" class="%vanio_user.security.redirect_on_registration_success.class%" abstract="true">
            <argument type="service" id="security.http_utils"/>
            <argument>%vanio_user.registration_target_path%</argument>
        </service>

        <service id="vanio_user.security.target_path_resolver" class="%vanio_user.security.target_path_resolver.class%">
            <argument type="service" id="router"/>
            <argument type="service" id="security.http_utils"/>
            <argument>%vanio_user.pass_target_path%</argument>
        </service>

        <service id="vanio_user.form.registration_form_type" class="%vanio_user.form.registration_form_type.class%">
            <argument>%vanio_user.email_only%</argument>
            <tag name="form.type"/>
        </service>

        <service id="vanio_user.form.profile_form_type" class="%vanio_user.form.profile_form_type.class%">
            <argument>%vanio_user.email_only%</argument>
            <tag name="form.type"/>
        </service>

        <service id="vanio_user.routing.router" class="%vanio_user.routing.router.class%" abstract="true" public="false">
            <argument type="service" id="vanio_user.routing.router.inner"/>
            <argument type="service" id="request_stack"/>

            <call method="setTargetPathResolver">
                <argument type="service" id="vanio_user.security.target_path_resolver"/>
            </call>
        </service>

        <service id="vanio_user.templating.user_extension" class="%vanio_user.templating.user_extension.class%" public="false">
            <argument type="service" id="fos_user.user_manager"/>
            <argument type="service" id="vanio_user.security.target_path_resolver"/>
            <argument type="service" id="request_stack"/>
            <argument type="service" id="security.csrf.token_manager" on-invalid="null"/>
            <argument>%vanio_user%</argument>
            <tag name="twig.extension"/>
        </service>

        <service id="vanio_user.mailer.twig_swift" class="%vanio_user.mailer.twig_swift.class%" public="false">
            <argument type="service" id="mailer"/>
            <argument type="service" id="router"/>
            <argument type="service" id="twig"/>
            <tag name="fos_user.requires_swift"/>

            <argument type="collection">
                <argument key="template" type="collection">
                    <argument key="confirmation">%fos_user.registration.confirmation.template%</argument>
                    <argument key="resetting">%fos_user.resetting.email.template%</argument>
                    <argument key="change_email">%vanio_user.change_email.confirmation.template%</argument>
                </argument>

                <argument key="from_email" type="collection">
                    <argument key="confirmation">%fos_user.registration.confirmation.from_email%</argument>
                    <argument key="resetting">%fos_user.resetting.email.from_email%</argument>
                    <argument key="change_email">%vanio_user.change_email.confirmation.from_email%</argument>
                </argument>
            </argument>
        </service>

        <service id="vanio_user.validator.user_password_validator" class="%vanio_user.validator.user_password_validator.class%" public="false">
            <argument type="service" id="security.encoder_factory"/>
            <tag name="validator.constraint_validator" alias="vanio_user.validator.user_password"/>
        </service>
    </services>
</container>
