{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
    <h3>{{ 'unregister.heading'|trans }}</h3>
{% endblock %}

{% block alert %}
    {% include '@VanioUser/partials/alert.html.twig' with {type: 'danger', message: 'unregister.warning'|trans} %}
{% endblock %}

{% block form %}
    <form method="post">
        <input type="submit" class="btn btn-primary" value="{{ 'unregister.button'|trans }}">
    </form>
{% endblock %}
