{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
    <h3>{{ 'unregister.heading'|trans }}</h3>
{% endblock %}

{% block info %}
    <p><strong>{{ 'unregister.warning'|trans }}</strong></p>
{% endblock %}

{% block form %}
    <form class="unregister-form" method="post"><input type="submit" class="btn btn-danger" value="{{ 'unregister.button'|trans }}"></form>
{% endblock %}
