{% trans_default_domain 'FOSUserBundle' %}

{% block question %}
    <p><strong>{{ 'unregister.question'|trans }}</strong></p>
{% endblock %}

{% block alert %}
    {% include '@VanioUser/partials/alert.html.twig' with {type: 'danger', message: 'unregister.warning'|trans} %}
{% endblock %}

{% block form %}
    <form method="post">
        <input type="submit" class="btn btn-primary" value="{{ 'unregister.button'|trans }}">
    </form>
{% endblock %}
