{% trans_default_domain 'FOSUserBundle' %}

{% block form %}
    {{ form_start(form, {action: path('fos_user_profile_edit'), attr: {class: 'fos_user_profile_edit' }}) }}
        {% block formFields %}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ 'profile.edit.submit'|trans }}</button>
        {% endblock %}
    {{ form_end(form) }}
{% endblock %}
